{% extends "partials/base.html" %}
{% set active_page = "categories" %}

{% block content %}
<section>
    <header class="m-4 text-center">
        <h1>Categories</h1>
    </header>
    <div class="container">
        <div class="row">
            {% for category in categories %}

            <div class="col-md-4 p-4">
                <div class="card mx-auto">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-12">
                            <img class="card-img-top img-fluid"
                                 src="{{ url_for('static',filename=category.image) }}"
                                 style=" object-fit: cover; height: 200px;"
                            alt="{{ category.title }}">
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="card-body">
                                <h2 class="card-title">{{ category.title }}</h2>
                                <p class="card-text">{{ category.description }}</p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('show_recipes', category=category.name) }}" class="stretched-link"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}