html {
    height: 100%;
}

body {
    min-height: 100%;
}

.hero {
    background-blend-mode: multiply;
    background: rgba(0, 0, 0, .3) url("../images/hero.jpg") center / cover no-repeat;
    height: 55vh;
}

.card {
    transition: 250ms;
}

.card:hover {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
